body {
    font-weight: 700;
}

h1,
h2,
h3 {
    font-family: 'Permanent Marker', cursive;
}

.header {
    position: relative;
}

.navbar-desktop {
    display: none;
}

.navbar-mobile-wrapper {
    position: absolute;
    width: 100%;
}

.navbar-mobile {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.navbar-list {
    list-style: none;
    position: absolute;
    display: block;
    top: 100%;
    background: white;
    padding-left: 0;
    font-size: 1.2rem;
    display: none;
    z-index: 2;
    width: 100%;
    border-radius: 9px;
}

.navbar-list li:first-of-type {
    border-bottom: 1px solid grey;
}

.navbar-list li:last-of-type {
    border-top: 1px solid grey;
}

.navbar-list a {
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 0.5rem 1.5rem;
    color: black;
}

.burgermenu {
    display: block;
    width: 55px;
    padding: 10px;
    margin: 0.5rem 0.5rem 0 0;
}

.burgermenu:hover {
    background-color: grey;
    border-radius: 9px 9px 0 0;
}

.burgermenu:hover + .navbar-list,
.burgermenu:active + .navbar-list,
.navbar-list:hover {
    display: block;
}

.burgermenu-line {
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.header-title {
    position: absolute;
    color: white;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20%;
}

.greensection {
    background-color: #365B3E;
    position: relative;
    padding-bottom: 6rem;
}

.mountains {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transform: translateY(-98%);
}

.greensection p {
    color: #5A8461;
    text-align: center;
    margin: 0 3rem;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.greensection h2 {
    color: #fff;
    text-align: center;
    margin: 0.3rem;
    font-size: 1.5rem;
}

.bluesection {
    background-color: #325E4C;
    position: relative;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.bluesection::before {
    content: url(../images/mountains2.svg);
    width: 100%;
    height: auto;
    position: absolute;
    top: 7px;
    left: 0;
    transform: translateY(-50%);
}

.bluesection h2 {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding: 0 3rem 0.6rem 3rem;
}

.bluesection p {
    color: #5A8461;
    text-align: center;
    margin: 0.3rem;
    font-size: 1rem;
    padding: 0 2.8rem 1rem 2.8rem;
}

.bluesection h3 {
    color: #fff;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0.4rem;
    background-color: #5A8461;
    border-radius: 10px;
}

.bluesection a {
    color: white;
}

.bluesection h4 {
    color: #5A8461;
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
}

.coffee img {
    width: 5rem;
}

.1piccoffee {
    justify-content: center;
}

.coffee h5 {
    text-align: center;
    text-align-last: center;
    font-size: 2em;
    color: white;
}

.betweencoffee h5 {
    align-self: center;
}

.coffee {
    display: flex;
    justify-content: space-around;
}

.yellowsection {
    background-color: #D1A63B;
    position: relative;
    padding: 10rem 0 7rem 0;
    background-image: url(../images/africa.svg);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 90% 10%;
}

.yellowsection::before {
    content: url(../images/mountains3.svg);
    width: 100%;
    height: auto;
    position: absolute;
    top: 7px;
    left: 0;
    transform: translateY(-57%);
}

.fortythree {
    margin-bottom: 8rem;
    margin-left: auto;
    margin-right: 5%;
    width: 185px;
}

.fortythree span {
    font-size: 4rem;
    color: #7C2219;
}

.fortythree p {
    font-size: 2rem;
    line-height: 1.25;
    margin: 0;

}

.graduation-hat-icon {
    margin-left: 1rem;
    width: 12rem;
}

.twentysix {
    margin-right: auto;
    margin-left: auto;
    width: 170px;
}

.twentysix span {
    font-size: 3rem;
}

.twentysix p {
    font-size: 1.6rem;
    line-height: 1.35;
    margin: 0;
    color: #7C2219;
}

#brownsection {
    background-color: #9B5E34;
    position: relative;
    padding-top: 6rem;
    padding-bottom: 11rem;
}

#brownsection::before {
    content: url(../images/mountains4.svg);
    width: 100%;
    height: auto;
    position: absolute;
    top: 7px;
    left: 0;
    transform: translateY(-57%);
}

#brownsection h3 {
    color: black;
    font-size: 2rem;
    padding-left: 2rem;
    margin-bottom: 0;
    line-height: 1.3;
    font-family: 'Permanent Marker', cursive;
}

#brownsection h2 {
    color: #D1A63B;
    font-size: 3.1rem;
    padding-left: 4rem;
    margin-bottom: 0;
    line-height: 1;
    font-family: 'Permanent Marker', cursive;
}

.openinghours {
    margin: 2rem auto 3rem auto;
    padding: 0;
    width: 240px;
}

.openinghours li {
    list-style-type: none;
    padding: 0;
    display: flex;
    font-size: 1.3rem;
    color: white;
}

.openinghours .day {
    color: #D1A63B;
    width: 60%;
}

.map {
    height: 300px;
    width: 100%;
    margin-bottom: 3rem;
}

.map iframe {
    height: 100%;
    width: 100%;
}

#brownsection p {
    text-align: center;
    margin: 0 3rem;
    font-size: 2rem;
    display: block;
}

.heartbrownsection {
    width: 6rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.footer {
    background-color: #325E4C;
    width: 100%;
    position: relative;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
}

.footer::before {
    content: url(../images/mountains5.svg);
    width: 100%;
    height: auto;
    position: absolute;
    top: 7px;
    left: 0;
    transform: translateY(-57%);
}

.newsletterdescription {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    margin: 3rem 1.8rem 2rem 1.8rem;
}

.newsletter {
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.newsletterwindow {
    width: 17.5rem;
    height: 2.2rem;
    padding: 0.1rem 1rem;
    border-radius: 20px;
    border: none;
}

.newsletter-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 0 0 0 0.75rem;
}

.footericons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1.8rem 1.5rem 1.8rem;
}

.iconfacebook {
    width: 2rem;
    height: auto;
}

.fairtradelogosmall {
    width: 2rem;
    height: auto;
}
